.btn {
    text-transform: uppercase;
    font: {
      size: $font-size-base;
      weight: 600;
    }
    letter-spacing: 0.3px;
    &,
    &-lg{
      border-radius: $border-radius-small;
    }
    &-default{
      border: 2px solid $base-light;
      color: $base-light;
      background: transparent;
      &:hover,
      &:focus,
      &:active{
        background-color: $brand-primary;
        border: 2px solid transparent;
        outline: none;
        &:hover,
        &:focus,
        &:active{
          background-color: $brand-primary;
          border: 2px solid transparent;
        }
      }

    }
  }
